@import "./styles/mixins";
@import "./styles/variables";

body{
  font-family: 'Poppins', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width:1200px;
  margin:auto;
  @media only screen and (max-width: 1200px){
    width:100%;
  }
}
/*-------------------------------- FREE-SHIPPING-SECTION ----------------------------*/
//nesting
.free-shipping-section {
  max-width: 100%;
  background: $primary-background-color;
  .free-shipping-head {
    text-align: center;
    color: #fff;
    padding: 16px 0;
    font-weight:300;
    font-size:16px;
    letter-spacing:2px;
  }
  @media screen and (max-width: 1200px){
    margin: $media-margin;
  }
}
/*-------------------------------- NAVIGATION ----------------------------*/
.navigation{
@include center();
  padding: 60px 0;
  .nav-ul{
    display: flex;
    gap:20px;
    li{
      list-style: none;
      font-weight: 200;
      font-size: 14px;
      letter-spacing: 1px;
      cursor: pointer;
    }
    @media screen and (max-width: 540px){
      display: none;
    }
  }
  .frais{
    .frais-head{
      font-size: 22px;
      letter-spacing: 3px;
      border:3px solid #000;
      padding: 3px 18px;
      cursor: pointer;
    }
    @media screen and (max-width: 540px){
      margin: auto;
    }
  }
  .input-search{
    display: flex;
    position: relative;
    &:hover{
      input[type="text"]{
        border:2px solid #000;
        transition:0.2s ;
      }
    }
    .lupa-icon{
      position: absolute;
      left:5%;
      top:27%;
    }
    input[type="text"]{
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      border-bottom:1px solid #000;
      padding: 12px 0 12px 30px;
    }
    @media screen and (max-width: 782px){
      display: none;
    }
  }
  .log-in{
    cursor: pointer;
    @include center();
    .log-in-para{
      font-weight:300;
      font-size:16px;
      color:#444343;
    }
    @media screen and (max-width: 992px){
      display: none;
    }
  }
  @media screen and (max-width: 1200px){
    margin: $media-margin;
  }
}
/*-------------------------------- HEADER-SECTION ----------------------------*/
.header-section{
  width:100%;
  position: relative;
 @include center();
  .header-img-sec{
    height:640px;
    width:1000px;
    .head-img{
     @include img-size();
      object-fit: cover;
    }
    @media screen and (max-width: 992px){
      width:700px;
      height:500px;
      margin: $media-margin;
    }
    @media screen and (max-width: 712px){
      width:560px;
      height:460px;
    }
    @media screen and (max-width: 562px){
      width:440px;
      height:340px;
    }
  }
  .header-sec-desc{
    position: absolute;
    left:45%;
    .small-head{
      letter-spacing:2px;
      font-weight: 300;
      font-size: 18px;
      @media screen and (max-width: 712px){
        font-size:12px;
      }
    }
    .main-head{
      letter-spacing: 2px;
      font-weight: 500;
      font-size:70px;
      @media screen and (max-width: 712px){
        font-size:32px;
      }
    }
    .button-bg{
      padding: 30px 0;
      .bg-btn{
        @include bg-btn();
      }
      .bg-btn:hover{
        @include bg-btn-hover();
      }
    }
    @media screen and (max-width: 412px){
      display: none;
    }
  }
  //@media screen and (max-width: 1200px){
  //  margin: $media-margin;
  //}
  @media screen and (max-width: 462px){
    margin:0;
  }
}
/*-------------------------------- SHOP-SECTION ----------------------------*/
.shop-section {
  width: 100%;
  .shop-sec-head {
    @include primary-title();
  }
  .shop-sec-wrapper {
    display: flex;
    justify-content: space-around;
    @media only screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
    .shop-sec-desc {
      width: 40%;
      padding: 0 40px;

      .head-nature {
        @include secondary-title();
      }

      .nature-para {
        @include description();
      }

      .button-nature-sec {
        .nature-btn {
          @include button();
        }
      }
      .nature-btn:hover {
        @include hover();
      }

      @media only screen and (max-width: 992px) {
        width:60%;
        padding-bottom: 50px;
      }
      @media only screen and (max-width: 642px){
        width:100%;
      }
    }
    .shop-sec-img-wrapp {
      .img-wrapper {
        width: 530px;
        height: 500px;
        //padding: 0 40px;
        .shop-img {
          @include img-size();
          object-fit: cover;
        }
        @media only screen and (max-width: 660px){
          width:400px;
          height:440px;
        }
        @media only screen and (max-width: 460px){
          width:330px;
          height:400px;
        }
        @media only screen and (max-width: 360px){
          width:280px;
          height:300px;
        }
      }
      //@media only screen and (max-width: 992px) {
      //  width: 380px;
      //  height:550px;
      //}
      //@media only screen and (max-width: 509px){
      //  width:350px;
      //  height:310px;
      //}
    }
  }
}
/*-------------------------------- PROBIOTIC-SECTION ----------------------------*/
.probiotic-section{
  padding:$padding;
  .probiotic-desc {
    @include center();
    position: relative;
    justify-content: space-around;
    @media only screen and (max-width:1192px){
      flex-wrap: wrap;
      margin:200px auto;
    }
    .parent {
      position: relative;
      width:400px;
      height:500px;
      .rectangle {
        @include img-size();
        //height: 660px;
        //width: 500px;
        background: $primary-background-color;
        //@media only screen and (max-width:722px){
        //  width:420px;
        //  height:430px;
        //}
      }
      .probiotic-img-sec {
        //height: 660px;
        //width: 500px;
        @include img-size();
        position: absolute;
        left: 20%;
        bottom: 5%;
        .img-soap {
          @include img-size();
          //@media only screen and (max-width:722px){
          //  width:420px;
          //  height:430px;
          //}
        }
      }
      @media only screen and (max-width:610px){
        width:300px;
        height:450px;
      }
      @media only screen and (max-width:396px){
      width:220px;
      height:350px;
    }
    }
    .probiotic-text-desc {
      width: 40%;
      padding: 0 40px;

      .probiotic-head {
        @include secondary-title();
      }
      .probiotic-para {
        @include description();
      }
      .button-shop {
        .shop-soap-btn {
          @include button();
        }
      }
      .shop-soap-btn:hover {
        @include hover();
      }
      @media only screen and (max-width:992px){
        width:60%;
        padding-top:50px;
      }
      @media only screen and (max-width: 642px){
        width:100%;
      }
    }
  }
}
/*-------------------------------- MOST-POPULAR-SECTION ----------------------------*/
.most-popular-section{
  background: #d7d7cb;
  .most-popular-head{
    @include primary-title();
  }
  .candles-card-sec{
    .icon{
      @media (max-width:1100px){
        display: none;
      }
    }
    padding-bottom: 100px;
    @include center();
    .candles-img-sec{
      width:240px;
      height:390px;
      //background: #f5e1e1;
      cursor: pointer;
      position: relative;
      .test {
        position: relative;
        overflow: hidden;
        .candles-card-img{
          @include img-size();
        }
        &:hover {
          .quick-view-sec {
            bottom: 7px;
            transition: 0.4s;
          }
        }
      }
      @media only screen and (max-width:992px){
        width:340px;
        height:500px;
        margin-bottom: 50px;
      }
      .sale{
        position: absolute;
        top:0;
        background: #60614d;
        cursor: pointer;
        .sale-head{
          color:#fff;
          font-size:16px;
          padding:2px 16px;
          font-weight: 200;
          letter-spacing: 1px;
        }
      }
      .quick-view-sec{
        position: absolute;
        bottom: -50px;
        width:240px;
        background: #fff;
        &:hover{
          transition: 0.4s;
        }
        .quick-view-head{
          padding: 10px 0;
          text-align: center;
          font-size: 14px;
          font-weight: 200;
        }
        @media only screen and (max-width:992px){
          width:100%;
        }
      }
      .lavender-head{
        font-size:15px;
        font-weight: 300;
      }
      .price{
        font-size: 12px;
        font-weight: 200;
      }
    }
    @media only screen and (max-width:1100px) {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      margin: $media-margin;
    }
  }
}
/*-------------------------------- NATURALLY-SIMPLE-SECTION ----------------------------*/
.naturally-simple-section {
  .naturally-head {
    @include primary-title();
    padding: 100px 0 40px 0;
  }

  .naturally-para {
    width: 40%;
    text-align: center;
    margin: auto;
    line-height: 26px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    @media (max-width:992px){
      width:60%;
    }
    @media (max-width:582px){
      width:80%;
    }
  }

  .button-story {
    text-align: center;
    padding: 50px 0;

    .story-btn {
      @include button();
    }

    .story-btn:hover {
      @include hover();
    }
  }
  .wrapper {
    position: relative;
    .naturally-img {
      width: 850px;
      height: 550px;
      margin: auto;
      @media (max-width:992px){
        width: 750px;
        height: 450px;
      }
      @media (max-width:792px){
        width: 550px;
        height: 350px;
      }
      @media (max-width:600px){
        width: 400px;
        height: 250px;
      }
      @media (max-width:420px){
        width:300px;
        height:200px;
      }
      .naturally-img-1 {
        @include img-size();

      }
    }
    .naturally-img-sec-2 {
      position: absolute;
      left:50%;
      transform: translate(-50%, 0);
      top:25%;
      width: 450px;
      height: 550px;
      margin: auto;
      @media (max-width:992px){
        width: 350px;
        height: 450px;
      }
      @media (max-width:792px){
        width: 300px;
        height: 400px;
      }
      @media (max-width:600px){
        width:200px;
        height:250px;
      }
      @media (max-width:420px){
        width:200px;
        height:250px;
      }
        .naturally-img-2 {
        @include img-size();
      }
    }
  }
}
/*-------------------------------- FRAIS-BLOG-SECTION ----------------------------*/
.frais-blog-section {
  //width:100%;
  margin:340px 0 100px 0;
  background: #f3f3f0;
  .frais-blog-head {
    @include primary-title();
  }
  .frais-blog-cards{
    padding-bottom: 250px;
    @include center();
    justify-content: space-around;
    .frais-blog-img-sec {
      width: 300px;
      height: 380px;
      //background: #c41212;
      .frais-img {
        @include img-size();
      }
      .frais-candles-head {
        font-size: 24px;
        padding: 16px 0;
      }
      .frais-candless-para {
        font-size: 16px;
        font-weight: 200;
      }
      @media only screen and (max-width:992px){
        margin-bottom:200px;
        width:400px;
        height:500px;
      }
      @media only screen and (max-width:630px){
        width:320px;
        height:380px;
        padding-top: 20px;
      }
    }

    .frais-blog-img-sec:hover{
      cursor: pointer;
      color: #7a7979;
      transition: 0.4s;
    }
    @media only screen and (max-width:992px){
      flex-wrap: wrap;
      margin:$media-margin;
      padding: 0;
    }
    }


  .button-frais{
    text-align: center;
    padding-bottom: 40px;
    .frais-btn{
      @include bg-btn();
    }
    @media only screen and (max-width:345px){
      padding-top:30px;
    }
  }
  .frais-btn:hover{
    @include bg-btn-hover();
  }
}
/*-------------------------------- FOOTER-SECTION ----------------------------*/
.footer-section{
  position: relative;
  .frais-footer-wrapper{
    display: flex;
    justify-content: space-between;
    .frais-sec{
      .footer-frais{
        font-size: 22px;
        letter-spacing: 3px;
        border:3px solid #000;
        padding: 3px 18px;
        cursor: pointer;
      }
      //.shop-help-sec {
      //  .foot-shop-sec {
      //  }
      //}
    }
    .head-foot{
      padding:20px 0;
      font-size: 26px;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .para-foot{
      font-weight:200;
      font-size:14px;
      line-height:26px;
      letter-spacing: 2px;
      cursor: pointer;
    }
    .footer-icons{
      .icon{
        width: 24px;
        height:24px;
        padding: 30px 0;
      }
    }
    @media screen and (max-width: 600px){
      flex-wrap:wrap;
      margin:auto;
      width:50%;
    }
  }
  .soc-net-icons{
    position: fixed;
    //position: absolute;
    bottom:25%;
    left:3%;
    display: flex;
    flex-direction: column;
    gap:18px;
    cursor: pointer;
    .soc-icon{
      width:20px;
      height:20px;
    }
  }
  @media screen and (max-width: 1200px){
    margin: $media-margin;
  }
}
/*-------------------------------- WIX-COM-SECTION ----------------------------*/
.wix-com-sec{
  position: relative;
  max-width: 100%;
  background: $primary-background-color;
  .wix-com-desc{
    text-align: center;
    color: #fff;
    padding: 12px 0;
    font-weight:300;
    font-size:12px;
    letter-spacing:2px;
    .frais-foot-link{
      color:#fff;
    }
  }
  .message-box{
    position: fixed;
    //position: absolute;
    right:3%;
    bottom:5%;
    width:60px;
    height:60px;
    border-radius: 50%;
    background:$primary-background-color;
    cursor: pointer;
    box-shadow: -1px -2px 10px -4px rgba(0,0,0,1);
    .chatdubble{
      width:30px;
      height:34px;
      padding:14px 0 0 14px;
      color:#fff;
    }
  }
  @media screen and (max-width: 1200px){
    margin: $media-margin;
  }
}
/*--------------------------- RESPONSIVE ----------------------------*/
//@media screen and (max-width: 1200px){
  //.container{
  //  width:100%;
  //}
  //.navigation,
  //.free-shipping-section{
  //  margin:$media-margin;
  //}
//}
//@media screen and (max-width: 992px){
  //.navigation{
  //  @include center();
  //}
  //.shop-sec-wrapper{
  //  flex-wrap: wrap;
  //  margin:auto;
  //}
  //.shop-sec-desc{
  //  width:100%;
  //  padding: 20px 0;
  //}
//  .probiotic-desc{
//    flex-wrap: wrap;
//    width: 50%;
//    margin: auto;
//  }
//}
//@media screen and (max-width: 992px){
//  .shop-sec-wrapper{
//    flex-wrap: wrap;
//  }
//}
//
//@media only screen and (max-width: 992px){
// .probiotic-desc{
//   flex-wrap: wrap;
// }
//  .parent{
//    width:100%;
//    margin: auto;
//  }
//  .probiotic-text-desc{
//    width:0;
//  }
//}
//@media only screen and (1100px){
//  .candles-card-sec{
//    flex-wrap: wrap;
//  }
//}